# --- Dependências (Não envie as bibliotecas baixadas) ---
node_modules/
venv/
.venv/
env/
ENV/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/

# --- Arquivos do Sistema Operacional ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- Configurações de Editores/IDEs ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Arquivos de Log e Temporários ---
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
